composer.lock
*.iml
composer.phar
components/
vendor/
.idea
*.swp
cache.properties
tests/
app/
build/
.htaccess
build.xml
cli-config.php
dev-nginx.conf
docker-compose.yml
index.php
phpdox.xml.dist
.php-cs-fixer.cache
